p{
    color: blueviolet;
}
h1{
    color: aqua;
}
h2{
    color: blue;
}
h3{
    color: brown;
}
h4{
    color: chartreuse;
}
h5{
    color: darkgoldenrod;
}
h6{
    color: red;
}
#titolo5{
    background-color: cadetblue;
}
