* {
    color: sandybrown;
}



.big:hover{
    color: chartreuse;
    font-size: 25px
}
.top:hover::first-letter{
    color: violet;
    font-style: oblique;
    font-size: 30px
}

h1, h2, article {
    text-align: center;
    color: chartreuse;
}
a:hover {
    color: fuchsia;
    text-align: center;
}
li:last-child {
    color: blue;
}
.redp {
    color:red
}